<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.comp.ninti.sportsmanager">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".EventsActivity"
            android:parentActivityName=".EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventsActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomersActivity"
            android:parentActivityName=".EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventsActivity" />
        </activity>
        <activity
            android:name=".DisciplinesActivity"
            android:parentActivityName=".EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventsActivity" />
        </activity>
        <activity
            android:name=".RulesActivity"
            android:parentActivityName=".EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventsActivity" />
        </activity>

        <service
            android:name="com.comp.ninti.general.SerializableService"
            android:exported="false" />

        <activity
            android:name=".CustomerDetail"
            android:label="@string/title_activity_customer_detail1"
            android:parentActivityName=".CustomersActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.CustomersActivity" />
        </activity>
        <activity
            android:name=".RuleDetail"
            android:label="@string/title_activity_rule_detail"
            android:parentActivityName=".RulesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.RulesActivity" />
        </activity>
        <activity
            android:name=".DisciplineDetail"
            android:label="@string/title_activity_discipline_detail"
            android:parentActivityName=".DisciplinesActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.DisciplinesActivity" />
        </activity>
        <activity
            android:name=".EventDetail"
            android:label="@string/title_activity_event_detail"
            android:parentActivityName=".EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventsActivity" />
        </activity>
        <activity
            android:name=".EventStart"
            android:label="@string/title_activity_event_start"
            android:parentActivityName=".EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventsActivity" />
        </activity>
        <activity
            android:name=".EventStarted"
            android:parentActivityName=".EventsActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventsActivity" />
        </activity>
        <activity
            android:name="com.comp.ninti.pointsDetermination.Timer"
            android:parentActivityName=".EventStarted"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventStarted" />
        </activity>
        <activity
            android:name="com.comp.ninti.pointsDetermination.DefaultPoints"
            android:parentActivityName=".EventStarted"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.comp.ninti.sportsmanager.EventStarted" />
        </activity>
    </application>

</manifest>